<%- include partials/header.ejs %>
  
<%- include partials/main_navbar.ejs%>

    <!--Main Body-->
    <main class="container">
    <h1>Welcome to the <%= title %> page</h1>
          <% if(title=="Home"){ %>
             <%- include  partials/home.ejs %>
          <% } else if(title=="About"){ %>
             <%- include  partials/about.ejs %>
          <% } else if(title=="Projects"){%>
             <%- include  partials/projects.ejs %>
          <% } else if(title=="Services"){%>
             <%- include  partials/services.ejs %>
          <% } else if(title=="Contact"){%>
             <%- include  partials/contact.ejs %>
          <% } %>
    </main>

<%- include partials/bottom_navbar.ejs %>

<%- include partials/footer.ejs %>
    

   

